<h1>About</h1>
<p>Welcome to our project that provides prompts to ChatGPT!</p>
<p>In the "Team" page you can see bios for each participant</p>
<p>You can get information about javascript codes in the "Keyword" page.</p>
<p>You can also get info about what streaming services offer certain movies</p>
<p>Finally, you can also ask general questions in the "Ask questions to GPT" page</p>