<div>
  <h1>JavaScript keyword info</h1>
  <p>Enter a JavaScript keyword below:</p>
  <form method="post" action="keyword">
    <input type="text" name="keyword"><br>
    <input type="submit" value="submit">
  </form>
</div>
