<h1>Meet the team</h1>
<p>Gabriel Abreu is a sophmore from Rio de Janeiro, Brazil studying Applied Mathematics
He created  the page that gives you information on where to buy a book, and added text to different sections on the index page</p>
<p>Jared Silverman is a sophomore from Somerset, MA studying Applied Mathematics.
He created the page that gives info about Python keywords and formatted the index page.</p>